.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;color:#3E3E3E;background-color:Transparent;letter-spacing:-0.004em;}
.Heading_1_a {font-family:Arial;font-weight:bold;font-style:normal;font-size:24px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.H2 {color:#3C3C3C;letter-spacing:-0.004em;}
.TH {font-weight:bold;}
.BUTTON-95BLUE {color:#006BDB;}
